* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
/tests/ export-ignore
/docs/ export-ignore
phpunit.xml export-ignore
pint.json export-ignore
.prettierrc export-ignore
.npmrc export-ignore
.claude/ export-ignore
